.cabecalho {background-color:gray; font-size:24px; width:600px; 
           padding:10px; text-align:center; margin:2px}

.scorpo {margin: 2px; width:600px; 
        padding:10px;}

.corpo {display:flex; width:600px; padding:10px; background-color:red; 
       font-family:Arial, Helvetica, sans-serif;}

.rodape {width:600px; padding:10px; color:blue;
        text-transform:uppercase;}