.cabecalho{
    background-Color:black;
    Width:auto;
    height:100px;
    Color: white;
    text-align:center;
    font-size:50px;   
    }
    
.conteudo{
    background-Color: white;
    Width:auto;
    height:700px;
    Color:black;
    text-align:center;
    font-size:30px;
    }

.rodape{
    background-Color:rgb(0, 0, 0);
    Width:auto;
    height:100px;
    Color: rgb(255, 255, 255);
    text-align:center;
    
}

    h1{
      color:rgb(0, 0, 0);

    }